<div>
  <h1 mat-dialog-title>Editar Precio</h1>
  <div mat-dialog-content>
    <div class="model-form">
      <form [formGroup]="register">
        <div style="border-color: blue;" class="rounded">
          
          <div class="row">
            <mat-form-field class="input-id">
              <mat-label>Id</mat-label>
              <input matInput formControlName="id" type="number" readonly>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="input-string">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" type="text" placeholder="Ingrese nombre" readonly>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="input-string">
              <mat-label>Precio</mat-label>
              <input matInput formControlName="precio" min="0" type="number" >
              <mat-error *ngIf="checkError('precio', 'required')">Precio is required</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button [mat-dialog-close]="data" (click)="save()" cdkFocusInitial>Confirmar</button>
  </div>
</div>
